@import url("reset.css");

body {
	background-color: #686a72;
	margin-top: 10px;
}

#wrapper, #content_wrapper {
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#wrapper {
	width: 910px;
	margin: 0 auto;
	background-color: #eef0f3;
	padding: 25px;
	margin-bottom: 20px;
}

h1 {
	font-family: "DINCondensedC";
}

header h1 {
	font-size: 49px;
}

#content_wrapper {
	background: #fff;
	float: left;
	width: 860px;
	padding: 25px;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: 0px 0px 5px #e1e1e1;
}

#content {
	width: 635px;
	float: left;
	margin-right: 25px;
}

aside {
	width: 200px;
	float: left;
}

.category {
	float: left;
	width: 600px;
}

article {
	float: left;
	-webkit-box-shadow: 0px 0px 5px #e1e1e1;
		-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 36px;
	padding: 25px;
}
article ul li {
	float: left;
	list-style-type: none;
	margin-right: 20px;
}





















footer {
	clear: both;
}
